.footer {
    background: var(--fill-5);
    padding: 18px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {}

    .icp {
        color: rgba(255, 255, 255, 0.50);
        font-size: 12px;
        line-height: 18px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        a {
            padding-left: 4px;
            color: rgba(255, 255, 255, 0.50);
            text-decoration: none;

            &:hover {
                color: rgba(255, 255, 255, 0.75);
            }
        }
    }
}